body,html {
     width: 100vw;
font-family: 'Quicksand', sans-serif;
background-color: #EFEFEF;

}
nav {
    width: 100%;
    background-color: #E5A5A5;
    color: #000000;  
}
.continer{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 100px;
}

.header span {
    font-size: 30px;
    font-weight: 700;
}
.menu {
    font-size: 18px;
    display: flex;
}
.menu a{
    text-decoration: none;
    color: #EFEFEF;
    margin-right: 10px;
}
.menu a:nth-child(3){
    margin-right: 0;
}
    